.loginBadj{
    display: flex;
    align-items: center;
}

.userName{
    margin-left: 10px;
    margin-right: 10px;
}

.button{
    padding: 5px;
    border: none;
    font-size: 18px;
}

.logOut{
    background: rgb(255, 103, 103);
}