*{
    padding: 0;
    margin: 0;
}

.acc_container{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    transition: .5s linear;
}

.acc_container .button{
    padding: 20px;
    background: gray;
    position: relative;
}

.acc_container .button::before{
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    left: 5px;
    transform: rotate(-45deg);
    transition: .5s linear;
}

.acc_container .button.active::before{
    transform: rotate(135deg);
    top: 26px;
}

.acc_container .content{
    overflow: hidden;
    height: 0;
    transition: .5s linear;
}

.acc_container .content.active{
    height: auto;
}