*{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

.container .tabs_buttons{
    display: flex;
    list-style: none;
}

.container .tabs_buttons li{
    padding: 10px;
    border: 1px solid;
    cursor: pointer;
}

.container .tabs_buttons li:hover{
    background: #e3f7ad;
}

.container .tabs_buttons li.active{
    background: #e3f7ad;
}

.container .tabs_buttons li.add{
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 30px;
    line-height: 20px;
}

.container .tabs_content{
    display: flex;
    list-style: none;
}

.container .tabs_content li{
    display: none;
}

.container .tabs_content li.active{
    display: block;
}