* {
    margin: 0;
    padding: 0;
}

body {
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #ededed;
}

.portfolio{
    max-width: 600px;
    margin: 0 auto;
}

.portfolio .portfolio__filter{
    display: flex;
    list-style: none;
}

.portfolio .portfolio__filter li{
    padding: 20px;
    border: 1px solid #000;
}

.portfolio .portfolio__filter li:hover{
    background: #e3f7ad;
}

.portfolio .portfolio__filter li.active{
    background: #e3f7ad;
}

.portfolio .portfolio__list{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.portfolio .portfolio__list li.hide{
    display: none;
}

.gallery{
    max-width: 900px;
    margin: 0 auto;
}

.gallery .gallery__thumbs{
    display: flex;
    list-style: none;
}

.gallery .gallery__thumbs li{
    margin: 5px;
}

.gallery .gallery__preview{
    position: relative;
    display: flex;
    justify-content: center;
}

.gallery .gallery__preview.hide{
    display: none;
}

.gallery .gallery__preview .gallery__preview_close{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    opacity: .3;
}

.gallery .gallery__preview .gallery__preview_close:hover{
    opacity: 1;
}
